.detailimage{
    display: table-cell;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    width:100vw;

}

.detaildata {
    padding-top: 50px;
}
.detailfont {
    line-height: 10pt;
    color: #FAF;
    // background-color: greenyellow;   
    font-size: 18px;
}
