h3 {
    color:#7cb305;
    text-align: center;
}
.authbox {
    border: 1px solid green;
    border-radius: 25px;
    padding: 50px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #b5f5ec;
    // margin: auto;
    font-weight: bold;
}
.authbutton {
    background-color: #7cb305;
    border: none;
    border-radius: 25px;
    padding: 10px 80px 30px 80px; 
    font-weight: bold;
    // margin-left: 10vw;   
}

.authbutton:hover {
    background-color: #304600;
    ::after{
        background-color: green;
    }
}
.authbutton:hover::after {
    background-color: green ;
}


hr{
    color: green;
}
.tailLayout {
    margin-left: auto;
    margin-left: 10vw;
}
// ================


.ant-carousel .slick-slide {
    text-align: center;
    height: 450px;
    
    line-height: 160px;
    background: #1cd603;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }