
body {
  font-family: 'Alfa Slab One';font-size: 22px!important;
  /* background-color: #fcffe6; */
}

*{
  padding: 0px;
  margin: 0px;
}

.content{
  min-height: 75vh;
  /* border: 1px solid red; */
  padding: 10px;
}
footer {
  /* position: absolute; */
  bottom: 0;
  width: 100vw;
  height: 50px;
  /* border: 1px solid yellow; */

}



