
body {
  font-family: 'Alfa Slab One';font-size: 22px!important;
  /* background-color: #fcffe6; */
}

*{
  padding: 0px;
  margin: 0px;
}

.content{
  min-height: 75vh;
  /* border: 1px solid red; */
  padding: 10px;
}
footer {
  /* position: absolute; */
  bottom: 0;
  width: 100vw;
  height: 50px;
  /* border: 1px solid yellow; */

}

.cartbutton{
  background-color: green;
  border: none;
}



.bordedred{
  border: 1px solid red;
}

.cardcenter {
  // border:1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: row;
}